/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

p {
    font-weight: 500;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Navbar ***********/
a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.logo {
    width: 63px;
    height: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 87px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    font-size: 16px;
    padding: 0 0 35px 69px;
    position: relative;
}

.navbar li::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 34.75px;
    width: 0;
    height: 2px;
    background-color: #0065FC;
    transition: width 0.3s ease; 
  }

.navbar li:hover::before {
    width: 100%;
}

.navbar li:hover a {
    color: #0065FC;
}


.first-title {
    padding: 15px 0 10px 0;
}

/****** Header ***********/
/* Search-box */
.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 377px;
    height: 50px;
    margin: 35px 0 35px 0;
}

.grey-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.grey-square i {
    align-self: center;
    font-size: 18.65px;
}

input {
    border: none;
    text-align: center;
    font-size: 18px;
    height: 50px;
    width: 194px;
}

input::placeholder {
    color: #000000;
}

input[type="search"] {
    color: #000000;
    font-weight: bold;
}

.search-button {
    background: #0065FC;
    width: 130px;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.search-button:hover {
    cursor: pointer;
}

/* Filters */
.filters {
    display: flex;
    align-items: center;
    margin: 35px 0 35px 0;
    gap: 15px;
}

.filters-button {
    display: flex;
    gap: 15px;
}

button {
    height: 50px;
    border: 2px solid #D9D9D9;
    background: #FFFFFF;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
}


button:hover {
    cursor: pointer;
    background: #DEEBFF;
}

button i {
    font-size: 19.5px;
    padding-right: 15px;
}

span {
    margin-right: 15px;
}

/* Info text */
.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 35px 0 35px 0;
}

.info-border {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    width: 22px;
    height: 22px;
}

.info-border i {
    font-size: 11px;
}

/****** Main ***********/
/* Hebergements And Populaires */
#hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

#hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/* Hebergements */
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column; 
    margin-top: 33px;
    width: 240px;
}

.hebergements-cards img {
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.show-more {
    margin-top: 33px;
    cursor: pointer;
}

/* Populaires */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activities */
#activities h2 {
    padding: 50px 0 25px 30px;
}

.activities-cards {
    display: flex;
    gap: 30px;
    padding: 0 30px 0 30px;
}

.activities-cards .card {
    flex-basis: calc(50% - 15px); /* 2 cartes par ligne avec un espace de 30px entre elles */
    display: flex;
    flex-direction: column;
    background: none;
    border-radius: 0px;
    padding: 0px;
}

.activities-cards img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .activities-cards .image-wrapper {
    position: relative;
    width: 100%;
    max-width: 297.5px;
    height: 0;
    padding-bottom: 127.735%; /* Calcule la hauteur en fonction de la largeur */
    overflow: hidden;
  }

.activities-cards .white-box {
    display: flex;
    align-items: center;
    height: 59px;
    border-radius: 0 0 20px 20px;
    background: #FFFFFF;
}

.activities-cards h3 {
    padding-left: 19px;
}
/****** Footer ***********/
.footer-box {
    display: flex;
    flex-direction: row;
    gap: 255px;
    width: 100%;
    height: 145px;
    background: #F2F2F2;
    margin-top: 65px;  
    padding-top: 20px;  
}

.footer-box .footer-first-box {
    padding-left: 20px;
}

.footer-box ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer-box li {
    padding-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    #hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
    }

    .populaires-cards .cards {
        width: 65%;
    }

    .footer-box {
        width: 100%;
        gap: 150px;
    }
}

/* Small devices (phones, less than 768px) */ 

